{% extends "auth_base.html" %}

{% load static %}
{% block content %}
    <div id='login-page'>
        <div id='login-container'> 
            <img src={% static "auth/erisa_logo.png"%} alt='ERISA Logo'>
            <form method='POST' id='login-form'>
                {% csrf_token %}
                <h3> Sign Up </h3>
                <div class='form-section'>
                    <label> User Name </label>
                    <input name='username' required>
                </div>
                <div class='form-section'>
                    <label> Password </label>
                    <input type='password' name='password' required> 
                </div>
                <div class='form-section'>
                    <label> First Name </label>
                    <input name='first_name' required> 
                </div>
                <div class='form-section'>
                    <label> Last Name </label>
                    <input name='last_name' required> 
                </div>
                
                <button class='login-button'> Sign Up </button>
                <div class='sign-up-nav'>
                    <p> Already have an account? <a href="{% url 'login' %}"> Log In </a> </p>
                </div>
            </form>
        </div>
    <div>
{% endblock %}